
.height{
    height: 150px;
    border-radius:10px ;
    display: flex;
}
.img-size{
    width: 200px;
    padding: 20px;
}
.menu{
    padding: 20px;
    padding-top: 80px;
    font-size: 30px;
    font-family: cursive;
    text-decoration: none;
    
}
.search-size1{
    height: 50px;
    width: 160px;
    margin-top: 80px;

}
.search-size{
    height: 50px;
    width: 100px;
    margin-top: 80px;
}
.div-2{
    height: 500px;
    display: flex;
    justify-content: space-between;

}
.div-2-text{
    font-size: 30px;
    padding: 30px;
    font-family: cursive;

}
.div-2-text1{
    font-size: 28px;
    padding: 0px;
    padding-top: 130px;
    font-family: cursive;

}
.div-2-text2{
    font-size: 40px;
    padding-left: 100px;
    

}
.company-name{
    font-size: 25px;
    color: grey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.company-name1{
    color: gold; 
}
.btn1{
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0 0 10px grey;
    background-color: blue;
    margin: 20px;
    margin-top: 40px;
    width: 200px;
    height: 45px;
    font-size: 20px;
    color: white;
    
}
.btn1:hover{
    background-color: white;
    color: black;
}
.btn2{
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0 0 10px grey;
    background-color:white ;
    margin: 20px;
    margin-top: 40px;
    width: 190px;
    height: 45px;
    font-size: 20px;

}
.btn2:hover{
    background-color: blue;
    color: white;
}
.electro-products-img{
    height: 450px;
    width: 700px;
    margin-top: 100px;

}
.div-3{
    margin-top: 100px;  
}
.selling-products{
    font-family: cursive;
    text-align: center;
}
.selling-products-1{
    color: gold;
}
.h-150{
    height: 200px;
    width: 200px;
}
.h-30{
    height: 30px;
    width: 30px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    height: 420px;
    width: 100%;
}
.footer-about-us{
   margin-left: 10px;
    height: 350px;
    width: 350px;
    color: black;
}
.about-us{
    padding-top: 60px;
    color: blue;
    font-family: cursive;
}
.footer-nvigation{
    height: 300px;
    width: 400px;
    padding-top: 60px;
    color: blue;
    font-family: cursive;

}
.navigation-pages{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.footer-connect{
    height: 380px;
    width: 400px;
    padding-top: 60px;
    color: blue;
    font-family: cursive;
}
.location{
    height: 25px;
    width: 25px;
}
.location-address{
    color: black;
    text-decoration: none;
}
.mail{
    height: 25px;
    width: 25px;
}
.mail-address{
    color: black;
    text-decoration: none;
}
.contact{
    height: 25px;
    width: 25px;
}
.contact-address{
    color: black;
    text-decoration: none;
}
.facebook{
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.footer-last{
    height: 30px;
    width: 100%;
    background-color: rgb(90, 89, 89);
}
.last-footer-text{
    color: white;
    font-size: 15px;
    padding-left: 10px;
}
.menuItems{
    display: flex;
}

@media only screen and (max-width: 480px){
    .nav{
        position: relative;
    }
    .menuItems{
        display: flex;
        position: absolute;
        flex-direction: column; 
        background-color: yellow;
        left: -300px; 
        transition: all 0.5s;
    }
    .menu{
        padding: 10px;
    }
    .menu-icon{
        height: 40px;
        width: 40px;
    }
    .electro-products-img{
       display: none;
    
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 100px;
        height: 1000px;
        width: 100%;
        
    }
    .footer-about-us{
       margin-left: 10px;
        height: 350px;
        width: 350px;
        color: black;
    }
    .about-us{
        padding-top: 60px;
        color: blue;
        font-family: cursive;
    }
    .footer-nvigation{
        height: 300px;
        width: 400px;
        padding-top: 60px;
        color: blue;
        font-family: cursive;
    
    }
    .navigation-pages{
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
    .footer-connect{
        height: 380px;
        width: 400px;
        padding-top: 60px;
        color: blue;
        font-family: cursive;
    }
    .location{
        height: 25px;
        width: 25px;
    }
    .location-address{
        color: black;
        text-decoration: none;
    }
    .mail{
        height: 25px;
        width: 25px;
    }
    .mail-address{
        color: black;
        text-decoration: none;
    }
    .contact{
        height: 25px;
        width: 25px;
    }
    .contact-address{
        color: black;
        text-decoration: none;
    }
    .facebook{
        height: 35px;
        width: 35px;
        cursor: pointer;
    }
    .footer-last{
        height: 30px;
        width: 100%;
        background-color: rgb(90, 89, 89);
    }
    .last-footer-text{
        color: white;
        font-size: 15px;
        padding-left: 10px;
    }
}